---
import { SITE, SOCIALS } from "@consts"
import Container from "@components/Container.astro"
---

<footer id="contact" class="relative bg-white dark:bg-black">
  <div class="animate">

    <section class="py-5 flex flex-col justify-between items-center h-72 ">
      <h1 class="md:text-3xl lg:text-5xl font-bold text-center">Your next big idea's <br/>just one click away</h1>
      <a
      href="https://topmate.io/madhuri_basant/852589"
      target="_blank"
      class=" py-4 px-8 truncate rounded-full text-xl lg:text-2xl   border backdrop-blur-md bg-white/5 flex items-center gap-2 text-white"
    >
      Book a Call >
    </a>
      </section>    
  
    <section class=" py-5 overflow-hidden whitespace-nowrap border-t border-black/10 dark:border-white/25">
      <Container size="md">
        <div class="h-full grid grid-cols-1 sm:grid-cols-2 gap-3">
          <div class="order-2 sm:order-1 flex flex-col items-center justify-center sm:items-start">
            <div class="legal">
              <!-- <a href="/legal/terms" class="text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
                Terms
              </a> |
              <a href="/legal/privacy" class="text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
                Privacy
              </a> -->
            </div>
            <div class="text-sm mt-2">
              &copy; 2024 | All rights reserved
            </div>
          </div>
  
          <div class="order-1 sm:order-2 flex justify-center sm:justify-end">
            <div class="flex flex-wrap gap-1 items-center justify-center">
              {
                SOCIALS.map((SOCIAL) => (
                  <a 
                    href={SOCIAL.HREF} 
                    target="_blank" 
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`} 
                    class="group size-10 rounded-full p-2 items-center justify-center hover:bg-black/5 dark:hover:bg-white/20  blend"
                  >
                    <svg class="size-full fill-current group-hover:fill-black group-hover:dark:fill-white blend">
                      <use href={`/social.svg#${SOCIAL.ICON}`} />
                    </svg>
                  </a>
                ))
              }
              </div>
          </div>
        </div>
      </Container>
    </section>
  </div>

</footer>

<script is:inline>
  function goBackToTop(event) {
    event.preventDefault()
    window.scrollTo({
        top: 0,
        behavior: "smooth"
    })
  }

  function inintializeBackToTop() {
    const backToTop = document.getElementById("back-to-top")
    backToTop?.addEventListener("click", goBackToTop)
  }

  document.addEventListener("astro:after-swap", inintializeBackToTop)
  inintializeBackToTop()
</script>